# ************************************************
# ********** Local configurations **********
# ************************************************

# virtual environments
.venv
env/
venv/

# environment variables
.env



# ************************************************
# ********** Editors **********
# ************************************************

.vscode
.idea




# ************************************************
# ********** Operating system specific **********
# ************************************************

# MacOS
.DS_Store



# ************************************************
# ********** Logs **********
# ************************************************

logs/
*log




# ************************************************
# ********** Python stuff **********
# ************************************************

# byte-compiled / optimized / dll files
__pycache__/

*.egg-info
.ruff_cache
.mypy_cache


